<div class="footer-clean" style="border-top: 2px solid;">
    <footer>
        <div class="container" style="margin-left: 0px;">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item" style="margin-right: 200px;">
                    <h3 style="font-size: 25px;">THÔNG TIN CÔNG TY</h3>
                    <ul style="width: 400px;">
                        <li style="font-size: 22px;">Isolation Company</li>
                        <li style="font-size: 22px;">Số 28/2/49/53 Đức Giang, Phường Thượng Thanh, Quận Long Biên, Thành
                            phố Hà Nội, Việt Nam</li>
                        <li style="font-size: 22px;">SĐT: 024.7106.9999</li>
                        <li style="font-size: 22px;">Email:daohieu571999@gmail.com</li>
                        <li style="font-size: 22px;">Website: isolution.asia</li>
                        <li style="font-size: 22px;">Sở KHĐT TP. Hà Nội cấp</li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3 style="font-size: 25px;">HỖ TRỢ KHÁCH HÀNG</h3>
                    <ul style="width: 400px;">
                        <li style="font-size: 22px;">* Hotline: 0247.106.9999</li>
                        <li style="font-size: 22px;">* Thời gian: 24/7</li>
                        <li style="font-size: 20px;">* Email:daohieu571999@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>