<table id="contract-table" style="text-align: center;" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã Hợp Đồng</th>
            <th>Mã Khách Hàng</th>
            <th>Chủ Hợp Đồng</th>
            <th>Kỳ Hạn</th>
            <th>Loại Bảo Hiểm</th>
            <th>Mã Gói Bảo Hiểm</th>
            <th>Mã Chiến Dịch</th>
            <th>Trạng Thái</th>
            <th>Ngày Đăng Ký</th>
            <th>Chi Tiết</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contract of contracts">
            <td>{{contract.id}}</td>
            <td>{{contract.id_customer}}</td>
            <td>{{contract.name_contract_owner}}</td>
            <td>{{contract.payment_period}}</td>
            <td>{{contract.insurance_type}}</td>
            <td>{{contract.id_main_interest}}</td>
            <td>{{contract.id_illustration}}</td>
            <td>{{contract.status}}</td>
            <td>{{contract.start_time}}</td>
            <td>
                <button (click)="contractDetail(contract.id)" class="btn btn-info" style="height: 30px;color: white;">Chi Tiết</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Mã Hợp Đồng</th>
            <th>Mã Khách Hàng</th>
            <th>Chủ Hợp Đồng</th>
            <th>Kỳ Hạn</th>
            <th>Loại Bảo Hiểm</th>
            <th>Mã Gói Bảo Hiểm</th>
            <th>Mã Chiến Dịch</th>
            <th>Trạng Thái</th>
            <th>Ngày Đăng Ký</th>
            <th>Chi Tiết</th>
        </tr>
    </tfoot>
</table>