<table id="contract-table" style="text-align: center;" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã Hợp Đồng</th>
            <th>Mã Khách Hàng</th>
            <th>Chủ Hợp Đồng</th>
            <th>Loại Bảo Hiểm</th>
            <th>Mã Gói Bảo Hiểm</th>
            <th>Mã Bảng Minh Họa</th>
            <th>Trạng Thái</th>
            <th>Ngày Đăng Ký</th>
            <th>Chi Tiết</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contract of contracts | paginate: { id: 'listing_pagination' ,itemsPerPage: 8, currentPage: page, totalItems: totalRecords}">
            <td>#HD{{contract.id}}</td>
            <td>{{contract.code}}</td>
            <td>{{contract.name_contract_owner}}</td>
            <td>{{contract.insurance_type}}</td>
            <td>{{contract.id_main_interest}}</td>
            <td>#BMH{{contract.id_illustration}}</td>
            <td>{{contract.status==false?"Chưa Được Xét Duyệt":"Đã Được Xét Duyệt"}}</td>
            <td>{{contract.start_time | date: 'dd-MM-yyyy'}}</td>
            <td>
                <button (click)="contractDetail(contract.id)" class="btn btn-info" style="height: 30px;color: white;">Chi Tiết</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Mã Hợp Đồng</th>
            <th>Mã Khách Hàng</th>
            <th>Chủ Hợp Đồng</th>
            <th>Loại Bảo Hiểm</th>
            <th>Mã Gói Bảo Hiểm</th>
            <th>Mã Bảng Minh Họa</th>
            <th>Trạng Thái</th>
            <th>Ngày Đăng Ký</th>
            <th>Chi Tiết</th>
        </tr>
    </tfoot>
</table>
<pagination-controls style="float: right;" id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>