<table id="contract-table" style="text-align: center;" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã Hợp Đồng</th>
            <th>Mã Khách Hàng</th>
            <th>Chủ Hợp Đồng</th>
            <th>Kỳ Hạn</th>
            <th>Loại Bảo Hiểm</th>
            <th>Mã Gói Bảo Hiểm</th>
            <th>Mã Chiến Dịch</th>
            <th>Trạng Thái</th>
            <th>Ngày Đăng Ký</th>
            <th>Chi Tiết</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contract of contracts">
            <td>{{contract.contractId}}</td>
            <td>{{contract.idCustomer}}</td>
            <td>{{contract.nameContractOwner}}</td>
            <td>{{contract.paymentPeriod}}</td>
            <td>{{contract.insuranceType}}</td>
            <td>{{contract.idMainInterest}}</td>
            <td>{{contract.idIllustration}}</td>
            <td>{{contract.status}}</td>
            <td>{{contract.startTime | date:'dd/MM/yyyy'}}</td>
            <td>
                <button (click)="contractDetail(contract.contractId)" class="btn btn-info" style="color: white;">Chi Tiết</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Mã Hợp Đồng</th>
            <th>Mã Khách Hàng</th>
            <th>Chủ Hợp Đồng</th>
            <th>Kỳ Hạn</th>
            <th>Loại Bảo Hiểm</th>
            <th>Mã Gói Bảo Hiểm</th>
            <th>Mã Chiến Dịch</th>
            <th>Trạng Thái</th>
            <th>Ngày Đăng Ký</th>
            <th>Chi Tiết</th>
        </tr>
    </tfoot>
</table>
