<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>THÔNG TIN CHI TIẾT BẢN MINH HOẠ</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Thông Tin Bên Mua Bảo Hiểm</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                  <th>Họ Và Tên</th>
                  <td>Nguyễn Văn A</td>
                </tr>
                <tr>
                  <th>Mối Quan Hệ Với NĐBH Sản Phẩm Chính</th>
                  <td>Bản Thân</td>
                </tr>
                <tr>
                  <th>Ngày Sinh</th>
                  <td>01/01/1992</td>
                </tr>
                <tr>
                  <th>CMND</th>
                  <td>123456789</td>
                </tr>
                <tr>
                  <th>Giới Tính</th>
                  <td>Nam</td>
                </tr>
                <tr>
                  <th>Quốc Tịch</th>
                  <td>Việt Nam</td>
                </tr>
                <tr>
                  <th>Số CMND</th>
                  <td>1234567890</td>
                </tr>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Người Được Bảo Hiểm Của Hợp Đồng Chính</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
              <tr>
                <th>Họ Và Tên</th>
                <td>Nguyễn Văn A</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Thông Tin Hợp Đồng Chính</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                  <th>Chương Trình</th>
                  <td>001</td>
                </tr>
                <tr>
                  <th>Chọn Lựa</th>
                  <td>001</td>
                </tr>
                <tr>
                  <th>Lựa Chọn Sản Phẩm</th>
                  <td>001</td>
                </tr>
                <tr>
                  <th>Thời Hạn</th>
                  <td>10 năm</td>
                </tr>
                <tr>
                  <th>Số Tiền Bảo Hiểm (VNĐ)</th>
                  <td>123456</td>
                </tr>
                <tr>
                  <th>Phí Bảo Hiểm (VNĐ)</th>
                  <td>123</td>
                </tr>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Thông Tin Quyền Lợi Bảo Hiểm Bổ Sung</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                  <th>Tên Quyền Lợi</th>
                  <th>Nhóm Nghề Nghiệp</th>
                  <th>Thời Hạn</th>
                  <th>Số Tiền Bảo Hiểm</th>
                  <th>Phí Bảo Hiểm</th>
                </tr>
                <tr>
                  <td>BH Tai nạn Toàn Diện nâng cao</td>
                  <td>Kỹ Sư</td>
                  <td>10 năm</td>
                  <td>123456</td>
                  <td>1234</td>
                </tr>
                <tr>
                  <td>BH Chăm Sóc Sức Khỏe</td>
                  <td>Kỹ Sư</td>
                  <td>10 năm</td>
                  <td>123456</td>
                  <td>1234</td>
                </tr>
                <tr>
                  <td>Quyền Lợi Điều Trị nội trú</td>
                  <td></td>
                  <td></td>
                  <td>123456</td>
                  <td>1234</td>
                </tr>
                <tr>
                  <td>Quyền Lợi Điều Trị ngoại trú</td>
                  <td></td>
                  <td></td>
                  <td>123456</td>
                  <td>1234</td>
                </tr>
                <tr>
                  <td>Quyền Lợi Chăm sóc răng</td>
                  <td></td>
                  <td></td>
                  <td>123456</td>
                  <td>1234</td>
                </tr>
                <tr>
                  <td>BH Hỗ Trợ Chi phí chữa bệnh nan y</td>
                  <td>Kỹ Sư</td>
                  <td>10 năm</td>
                  <td>123456</td>
                  <td>1234</td>
                </tr>
                <tr>
                  <td>BH Hỗ Trợ điều trị bệnh ung thư</td>
                  <td>Kỹ Sư</td>
                  <td>10 năm</td>
                  <td>123456</td>
                  <td>1234</td>
                </tr>
                <tr>
                  <td>BH bệnh hiểm nghèo cao cấp toàn diện trả trước</td>
                  <td>Kỹ Sư</td>
                  <td>10 năm</td>
                  <td>123456</td>
                  <td>1234</td>
                </tr>
                <tr>
                  <td>BH bệnh hiểm nghèo cao cấp toàn diện</td>
                  <td>Kỹ Sư</td>
                  <td>10 năm</td>
                  <td>123456</td>
                  <td>1234</td>
                </tr>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Người Được Bảo Hiểm Bổ Sung</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
              <tr>
                <th>Họ Và Tên</th>
                <td>Nguyễn Văn A</td>
              </tr>
              <tr>
                <th>Địa Chỉ</th>
                <td>121 Thái Hà, Đống Đa, Hà Nội</td>
              </tr>
              <tr>
                <th>Mối Quan hệ với NĐBH sản phẩm chính</th>
                <td>Bản Thân</td>
              </tr>
              <tr>
                <th>Ngày Sinh</th>
                <td>01/01/1992</td>
              </tr>
              <tr>
                <th>CMND</th>
                <td>123456789</td>
              </tr>
              <tr>
                <th>Giới Tính</th>
                <td>Nam</td>
              </tr>
              <tr>
                <th>Quốc Tịch</th>
                <td>Việt Nam</td>
              </tr>
              <tr>
                <th>Nghề Nghiệp</th>
                <td>Kỹ Sư</td>
                </tr>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Tổng Phí Bảo Hiểm</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
              <tr>
                <th>123456</th>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Giấy Tờ Liên Quan</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
              <tr>
                <td>Giấy Tờ Liên Quan</td>
                <td><img src="https://img.topbank.vn/2020/02/24/b8awMTJx/minh-hoa-bao-hiem-nhan-tho-4b46.jpg"/></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

