<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">

                <form (ngSubmit)="onSubmit(changePassForm)" #changePassForm="ngForm">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Mật Khẩu Cũ" name="oldPass" ngModel #email="ngModel">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Mật Khẩu Mới" name="newPass" ngModel #email="ngModel" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Xác Nhận Mật Khẩu Mới" name="confirmNewPass" ngModel #email="ngModel" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <span id="errorMessagename" style="color: red;" *ngIf="email.errors?.required && email.touched">Password không được để trống</span>
                    <span id="errorMessagename" style="color: red;" *ngIf="email.errors?.pattern && email.touched">Password Cần Ít Nhất 8 Ký Tự, Trong Đó Ít Nhất 1 số 
                        Và 1 Chữ</span>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" [disabled]="changePassForm.invalid" class="btn btn-primary btn-block">Yêu Cầu Mật Khẩu Mới</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</body>

</html>