
<mat-dialog-content class="mat-typography"  >
    <div style="overflow: hidden; width: 1000px; height: 500px;">
        <mat-tab-group>
            <mat-tab label="Thông tin Cơ Bản">
                <div class="row">
                    <div class=" col-6 ">                       
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Họ Tên</label>
                            <!-- <p style="color: black; ">{{ customerInfo.full_name }}</p> -->
                            <input type="text" class="form-control" name="name"
                                [(ngModel)]="employeinfoDTO.name">
                        </div>
                        <div class="form-group">
                            <label>Giới Tính</label>
                            <select [(ngModel)]="employeinfoDTO.gender" class="form-control" name="gender">
                                <option *ngFor="let gender of genders" [value]="gender.value">{{gender.viewValue}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Tình Trạng Hôn Nhân</label>
                            <select [(ngModel)]="employeinfoDTO.marital_status" class="form-control"
                                name="marital_status">
                                <option *ngFor="let marital_status of marital_statuss" [value]="marital_status.value">
                                    {{marital_status.viewValue}}</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Ngày Sinh</label>
                            <input type="date" class="form-control" name="birth_date"
                                [ngModel]="employeinfoDTO.date_of_birth | date:'yyyy-MM-dd'"
                                 required>
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Tuổi</label>
                            <!-- <p style="color: black; ">{{ customerInfo.age }}</p> -->
                            <input type="number" class="form-control" name="age" [(ngModel)]="employeinfoDTO.age">
                        </div>
                    
                        
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Giấy Tờ Nhân Thân Số</label>
                            <input type="text" class="form-control" name="id_card" [(ngModel)]="employeinfoDTO.id_card">
                        </div>
    
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Dân Tộc</label>
                            <!-- <p style="color: black; ">{{ customerInfo.nation }}</p> -->
                            <input type="text" class="form-control" name="national" [(ngModel)]="employeinfoDTO.national">
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Địa Chỉ">
                <div class="row">
                    <div class="col-6 ">
                        <h4>Địa Chỉ Nơi Ở Hiện Tại</h4>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Số Nhà và Tên Đường</label>
                            <!-- <p style="color: black; ">{{ customerInfo.curadd_no_street }}</p> -->
                            <input type="text" class="form-control" name="curadd_no_street"
                                [(ngModel)]="employeinfoDTO.curadd_no_street">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Thành Phố/Tỉnh</label>
                            <!-- <p style="color: black; ">{{ customerInfo.curadd_city }}</p> -->
                            <input type="text" class="form-control" name="curadd_city"
                                [(ngModel)]="employeinfoDTO.curadd_city">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Quận/Huyện</label>
                            <!-- <p style="color: black; ">{{ customerInfo.curadd_district }}</p> -->
                            <input type="text" class="form-control" name="curadd_district"
                                [(ngModel)]="employeinfoDTO.curadd_district">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Phường/Xã/Thị Trấn:</label>
                            <!-- <p style="color: black; ">{{ customerInfo.curadd_wards }}</p> -->
                            <input type="text" class="form-control" name="curadd_wards"
                                [(ngModel)]="employeinfoDTO.curadd_wards">
                        </div>
                    </div>
                    <div class="col-6 ">
                        <h4>Địa Chỉ Thường Chú</h4>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Số Nhà và Tên Đường</label>
                            <!-- <p style="color: black; ">{{ customerInfo.peradd_no_street }}</p> -->
                            <input type="text" class="form-control" name="peradd_no_street"
                                [(ngModel)]="employeinfoDTO.peradd_no_street">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Thành Phố/Tỉnh</label>
                            <!-- <p style="color: black; ">{{ customerInfo.peradd_city }}</p> -->
                            <input type="text" class="form-control" name="peradd_city"
                                [(ngModel)]="employeinfoDTO.peradd_city">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Quận/Huyện</label>
                            <!-- <p style="color: black; ">{{ customerInfo.peradd_district }}</p> -->
                            <input type="text" class="form-control" name="peradd_district"
                                [(ngModel)]="employeinfoDTO.peradd_district">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Phường/Xã/Thị Trấn:</label>
                            <!-- <p style="color: black; ">{{ customerInfo.peradd_wards }}</p> -->
                            <input type="text" class="form-control" name="peradd_wards"
                                [(ngModel)]="employeinfoDTO.peradd_wards">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 ">
                        <h4>Địa Chỉ Liên Lạc Đặc Biệt</h4>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Số Nhà và Tên Đường</label>
                            <!-- <p style="color: black; ">{{ customerInfo.conadd_no_street }}</p> -->
                            <input type="text" class="form-control" name="conadd_no_street"
                                [(ngModel)]="employeinfoDTO.conadd_no_street">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Thành Phố/Tỉnh</label>
                            <!-- <p style="color: black; ">{{ customerInfo.conadd_city }}</p> -->
                            <input type="text" class="form-control" name="conadd_city"
                                [(ngModel)]="employeinfoDTO.conadd_city">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Quận/Huyện</label>
                            <!-- <p style="color: black; ">{{ customerInfo.conadd_district }}</p> -->
                            <input type="text" class="form-control" name="conadd_district"
                                [(ngModel)]="employeinfoDTO.conadd_district">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Phường/Xã/Thị Trấn:</label>
                            <!-- <p style="color: black; ">{{ customerInfo.conadd_wards }}</p> -->
                            <input type="text" class="form-control" name="conadd_wards"
                                [(ngModel)]="employeinfoDTO.conadd_wards">
                        </div>
                    </div>
            
                </div>
            </mat-tab>
            <mat-tab label="Thông Tin Liên Lạc">
                <div class="row">
                    <div class="col-6">

                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Email:</label>
                            <!-- <p style="color: black; ">{{ customerInfo.email }}</p> -->
                            <input type="text" class="form-control" name="email" [(ngModel)]="employeinfoDTO.email">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Điện Thoại Cố Định:</label>
                            <!-- <p style="color: black; ">{{ customerInfo.phone_1 }}</p> -->
                            <input type="text" class="form-control" name="phone" [(ngModel)]="employeinfoDTO.phone">
                        </div>
                        
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button type="submit" mat-dialog-close (click)="onSubmit(employeinfoDTO)">Thêm</button>
</mat-dialog-actions>