<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>DANH SÁCH BẢN MINH HOẠ</h1>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <button type="button" class="btn btn-block btn-success btn-lg" style="width: auto;" (click)="addIllustration()">
                                            THÊM BẢN MINH HỌA
                                        </button>
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="illustration-table" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã Khách Hàng</th>
                                                <th>Mã bản nháp</th>
                                                <th>Ngày Tạo</th>
                                                <th>Sản phẩm chính</th>
                                                <th>Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let illustration of illustrations">
                                                <td><b>{{illustration.id_customer_info }}</b></td>
                                                <td>{{illustration.id}}</td>
                                                <td>{{illustration.create_time | date}}</td>
                                                <td>{{illustration.interest_name}}</td>
                                                <button  (click)="illustrationDetail(illustration.id)" class="btn btn-info" style="height: 40px; width: 100px; margin: 10px; color: white;">Chi Tiết</button>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>
</body>