<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>DANH SÁCH BẢN MINH HOẠ</h1>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <button type="button" class="btn btn-block btn-success btn-lg"
                                            style="width: auto;">
                                            <a [routerLink]="['/create-illustration']" style="color: white;">THÊM BẢN MINH HỌA</a>
                                        </button>
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="illustration-table" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã Khách Hàng</th>
                                                <th>Mã bản nháp</th>
                                                <th>Ngày Tạo</th>
                                                <th>Sản phẩm chính</th>
                                                <th>View PDF</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>001</b></td>
                                                <td>Draft001</td>
                                                <td>05/01/2021</td>
                                                <td>Bảo hiểm nhân thọ</td>
                                                <td><a [routerLink]="['/detail-illustration']">View</a></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td><b>001</b></td>
                                                <td>Draft001</td>
                                                <td>05/01/2021</td>
                                                <td>Bảo hiểm nhân thọ</td>
                                                <td><a [routerLink]="['/detail-illustration']">View</a></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td><b>001</b></td>
                                                <td>Draft001</td>
                                                <td>05/01/2021</td>
                                                <td>Bảo hiểm nhân thọ</td>
                                                <td><a [routerLink]="['/detail-illustration']">View</a></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td><b>001</b></td>
                                                <td>Draft001</td>
                                                <td>05/01/2021</td>
                                                <td>Bảo hiểm nhân thọ</td>
                                                <td><a [routerLink]="['/detail-illustration']">View</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>
</body>

