<table class=" table table-bordered ">
    <thead>
        <tr>
            <th>Hạng Mục</th>
            <th>Nội Dung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mã Khách Hàng</td>
            <td>{{ customer.id}}</td>
        </tr>
        <tr>
            <td>Họ Và Tên</td>
            <td>{{ customer.full_name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ customer.email }}</td>
        </tr>
        <tr>
            <td>Account</td>
            <td>{{ customer.code }}</td>
        </tr>
        <tr>
            <td>Số Điện Thoại</td>
            <td>{{ customer.phone_1 }}</td>
        </tr>
        <tr>
            <td>Địa Chỉ</td>
            <td>{{ customer.curadd_no_street }}</td>
        </tr>
        <tr>
            <td>Nghề Nghiệp</td>
            <td>{{ customer.career }}</td>
        </tr>
        <tr>
            <td>Giấy Tờ Liên Quan</td>
            <td><img src="https://img.topbank.vn/2020/02/24/b8awMTJx/minh-hoa-bao-hiem-nhan-tho-4b46.jpg" /></td>
        </tr>
    </tbody>
</table>