<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>DANH SÁCH BẢN MINH HOẠ</h1>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <button type="button" class="btn btn-block btn-success btn-lg" style="width: 300px;" data-toggle="modal" data-target="#myModal">
                                            THÊM DANH SÁCH BẢNG MINH HỌA
                                        </button>
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã Khách Hàng</th>
                                                <th>Tên Khách Hàng</th>
                                                <th>Ngày Tạo</th>
                                                <th>Danh Sách Bản Minh Hoạ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>001</b></td>
                                                <td>Nguyễn Văn A</td>
                                                <td>05/01/2021</td>
                                                <td><a href="xemdanhsachbanminhhoa.html">View</a></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td><b>002</b></td>
                                                <td>Nguyễn Văn A</td>
                                                <td>05/01/2021</td>
                                                <td><a href="xemdanhsachbanminhhoa.html">View</a></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td><b>003</b></td>
                                                <td>Nguyễn Văn B</td>
                                                <td>05/01/2021</td>
                                                <td><a href="xemdanhsachbanminhhoa.html">View</a></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td><b>004</b></td>
                                                <td>Nguyễn Văn C</td>
                                                <td>05/01/2021</td>
                                                <td><a href="xemdanhsachbanminhhoa.html">View</a></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td><b>005</b></td>
                                                <td>Nguyễn Văn D</td>
                                                <td>05/01/2021</td>
                                                <td><a href="xemdanhsachbanminhhoa.html">View</a></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td><b>006</b></td>
                                                <td>Nguyễn Văn E</td>
                                                <td>05/01/2021</td>
                                                <td><a href="xemdanhsachbanminhhoa.html">View</a></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td><b>007</b></td>
                                                <td>Nguyễn Văn F</td>
                                                <td>05/01/2021</td>
                                                <td><a href="xemdanhsachbanminhhoa.html">View</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Chi Tiết</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mã Khách Hàng</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Mã Khách Hàng">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Tên Khách Hàng</label>
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Tên Khách Hàng">
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.1.0-rc
            </div>
            <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
</body>

</html>