<table id="illustration-table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Mã Khách Hàng</th>
      <th>Tên Khách Hàng</th>
      <th>Ngày Tạo</th>
      <th>Danh Sách Bản Minh Hoạ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>001</b></td>
      <td>Nguyễn Văn A</td>
      <td>05/01/2021</td>
      <td><a [routerLink]="['/list-illustration']">View</a></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td><b>002</b></td>
      <td>Nguyễn Văn A</td>
      <td>05/01/2021</td>
      <td><a [routerLink]="['/list-illustration']">View</a></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td><b>003</b></td>
      <td>Nguyễn Văn B</td>
      <td>05/01/2021</td>
      <td><a [routerLink]="['/list-illustration']">View</a></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td><b>004</b></td>
      <td>Nguyễn Văn C</td>
      <td>05/01/2021</td>
      <td><a [routerLink]="['/list-illustration']">View</a></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td><b>005</b></td>
      <td>Nguyễn Văn D</td>
      <td>05/01/2021</td>
      <td><a [routerLink]="['/list-illustration']">View</a></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td><b>006</b></td>
      <td>Nguyễn Văn E</td>
      <td>05/01/2021</td>
      <td><a [routerLink]="['/list-illustration']">View</a></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td><b>007</b></td>
      <td>Nguyễn Văn F</td>
      <td>05/01/2021</td>
      <td><a [routerLink]="['/list-illustration']">View</a></td>
    </tr>
  </tbody>
</table>
