<table id="illustration-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã Khách Hàng</th>
            <th>Tên Khách Hàng</th>
            <th>Ngày Tạo</th>
            <th>Danh Sách Bản Minh Hoạ</th>
        </tr>
    </thead>
    <tbody *ngFor="let customerOwnIllustration of listCustomerOwnIllustration">
        <tr>
            <td><b>{{ customerOwnIllustration.code }}</b></td>
            <td>{{ customerOwnIllustration.full_name }}</td>
            <td>{{ customerOwnIllustration.create_time | date : 'MMM d, y' }}</td>
            <td>
                <button (click)="listIllustration(customerOwnIllustration.id_customer)" class="btn btn-info" style="width: 100%;color: white;">Chi Tiết</button>
            </td>
        </tr>
    </tbody>
</table>