<table class=" table table-bordered ">
  <thead>
      <tr>
          <th>Hạng Mục</th>
          <th>Nội Dung</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Mã Khách Hàng</td>
          <td>#1002</td>
      </tr>
      <tr>
          <td>Họ Và Tên</td>
          <td>Nguyễn Văn A</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>email01@example.com</td>
      </tr>
      <tr>
          <td>Account</td>
          <td>anv001</td>
      </tr>
      <tr>
        <td>Số Điện Thoại</td>
        <td>0123456789</td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td>121 Thái Hà, Đống Đa, Hà Nội</td>
      </tr>
      <tr>
        <td>Nghề Nghiệp</td>
        <td>Kỹ Sư</td>
      </tr>
      <tr>
        <td>Giấy Tờ Liên Quan</td>
        <td><img src="https://img.topbank.vn/2020/02/24/b8awMTJx/minh-hoa-bao-hiem-nhan-tho-4b46.jpg"/></td>
      </tr>
  </tbody>
</table>
