<body class="hold-transition sidebar-mini">
  <div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Main content -->
          <div class="content col-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="card-title">{{ pageTitle }}</h3>
                  </div>
                  <app-detail-em-table></app-detail-em-table>
              </div>
          </div>
          <!-- /.content -->

      </div>
  </div>
  <!-- ./wrapper -->
</body>
