<div class="card">
    <div class="card-body" style="overflow: auto; height: 700px;">
        <h3 class="card-title">Chi Tiết Lịch Sử Thay Đổi Thông Tin</h3>
        <table class=" table table-bordered ">
            <thead>
                <tr>
                    <th>Hạng Mục</th>
                    <th>Thông Tin Hiện Tại</th>
                    <th>Thông Tin Yêu Cầu Sửa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Địa Chỉ</td>
                    <td>121 Thái Hà, Đống Đa, Hà Nội</td>
                    <td>98 Chùa Bộc, Đống Đa, Hà Nội</td>
                </tr>
                <tr>
                    <td>Số Điện Thoại</td>
                    <td>0123456789</td>
                    <td>0987654321</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>email01@example.com</td>
                    <td>email02@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>