<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <div class="col-12">
                <section class="content">
                    <div class="row">
                        <div style="width: 60%; margin: 0 auto; text-align: center;">
                            <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true">
                            </canvas>
                            <p>Đồ Thị Lịch Sử Thanh Toán Quyền Lợi</p>
                        </div>
                    </div>

                </section>
            </div>
            <div class="content col-12">
                <table class=" table table-bordered ">
                    <thead>
                        <tr>
                            <th>Tiêu Đề</th>
                            <th>Thông tin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mã Hợp Đồng</td>
                            <td>{{contract.id}}</td>
                        </tr>
                        <tr>
                            <td>Mã Khách Hàng</td>
                            <td>{{contract.id_customer}}</td>
                        </tr>
                        <tr>
                            <td>Chủ Hợp Đồng</td>
                            <td>{{contract.name_contract_owner}}</td>
                        </tr>
                        <tr>
                            <td>Kỳ Hạn</td>
                            <td>{{contract.payment_period}}</td>
                        </tr>
                        <tr>
                            <td>Loại Bảo Hiểm</td>
                            <td>{{contract.insurance_type}}</td>
                        </tr>
                        <tr>
                            <td>Mã Gói Bảo Hiểm</td>
                            <td>{{contract.id_main_interest}}</td>
                        </tr>
                        <tr>
                            <td>Mã Bản Minh Họa</td>
                            <td>{{contract.id_illustration}}</td>
                        </tr>
                        <tr>
                            <td>Ngày Đăng Ký</td>
                            <td>{{contract.start_time}}</td>
                        </tr>
                        <tr>
                            <td>Ngày Hết Hạn</td>
                            <td>{{contract.end_time}}</td>
                        </tr>
                        <tr>
                            <td>Ngày Đóng Tiền Kế Tiếp</td>
                            <td>{{contract.date_next_payment}}</td>
                        </tr>
                        <tr>
                            <td>Trạng Thái</td>
                            <td>{{contract.status}}</td>
                        </tr>
                        <tr>
                            <td>Trạng Thái Phê Duyệt</td>
                            <td>{{contract.approval_status}}</td>
                        </tr>
                        <tr>
                            <td>Kỳ Hạn Đóng Phí</td>
                            <td>{{contract.payment_period}}</td>
                        </tr>

                    </tbody>
                </table>

                <div class="card">
                    <mat-tab-group>
                        <mat-tab label="Lịch Sử Thanh Toán Quyền Lợi">
                            <div class="card" style="height: 700px; background-color: #b8ceff; ">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                    <div class="row" style="float: right;">
                                        <div class="card" style="padding: 10px;
                              background: #28a745; color: white;">
                                            <div>
                                                <label>Search:<input id="Fsearch" type="search"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>From<input id="FfromSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>To<input id="FtoSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <button id="FdelBtn" type="button" class="btn btn-danger">XÓA</button>
                                                <button type="button" class="btn btn-info">Tìm Kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="overflow: auto;">
                                    <table class=" table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Mã Hợp Đồng</th>
                                                <th>Thời Gian Thanh Toán</th>
                                                <th>Số Tiền Thanh Toán</th>
                                                <th>Mã Quyền Lợi</th>
                                                <th>Trạng Thái</th>
                                                <th>Người Xuất Hóa Đơn</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let intersetpayment of intersetpayments">
                                                <td>#1897234</td>
                                                <td><a>{{intersetpayment.id}}</a></td>
                                                <td>{{intersetpayment.created_time | date}}</td>
                                                <td>{{intersetpayment.payment_amount}}</td>
                                                <td><a href="#">{{intersetpayment.id_main_interest}}</a></td>
                                                <td><a>{{intersetpayment.id_bill_issuer}}</a></td>
                                                <td>{{intersetpayment.approve_status}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Lịch Sử Đóng Phí Của Khách Hàng">
                            <div class="card" style="height: 700px; background-color: #ff8484d1;">
                                <div class="card-header">
                                    <div class="row" style="float: right;">
                                        <div class="card" style="padding: 10px;
                              background: #28a745; color: white;">
                                            <div>
                                                <label>Search:<input id="Rsearch" type="search"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>From<input id="RfromSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>To<input id="RtoSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <button id="RdelBtn" type="button" class="btn btn-danger">XÓA</button>
                                                <button type="button" class="btn btn-info">Tìm Kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="overflow: auto;">
                                    <table class=" table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Mã Hợp Đồng</th>
                                                <th>Mã Hóa Đơn</th>
                                                <th>Số Tiền</th>
                                                <th>Phương Thức Thanh Toán</th>
                                                <th>Mã Nhân Viên Thu Tiền</th>
                                                <th>Ngày Thu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let feepayment of feepayments">
                                                <td>#1897234</td>
                                                <td><a>a{{feepayment.id}}</a></td>
                                                <td><a>{{feepayment.id_invoice}}</a></td>
                                                <td>{{feepayment.payment_amount}}</td>
                                                <td>{{feepayment.payment_method}}</td>
                                                <td><a>{{feepayment.id_collecter}}</a></td>
                                                <td>{{feepayment.created_time | date}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Lịch Sử Thay Đổi Thông Tin">
                            <div class="card" style="height: 700px; background-color: #ff8484d1;">
                                <div class="card-header">
                                    <div class="row" style="float: right;">
                                        <div class="card" style="padding: 10px;
                              background: #28a745; color: white;">
                                            <div>
                                                <label>Search:<input id="Rsearch" type="search"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>From<input id="RfromSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>To<input id="RtoSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <button id="RdelBtn" type="button" class="btn btn-danger">XÓA</button>
                                                <button type="button" class="btn btn-info">Tìm Kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class=" table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Thời Gian Thay Đổi</th>
                                                <th>Mục Thay Đổi</th>
                                                <th>Trạng Thái</th>
                                                <th>Chi Tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let contractchange of contractchanges">
                                                <td>{{contractchange.id}}</td>
                                                <td>{{contractchange.date | date}}</td>
                                                <td>{{contractchange.id_request}}</td>
                                                <td>{{contractchange.approval_status}}</td>
                                                <button (click)="contractChangeDetail(contractchange.id)" class="btn btn-info" style="height: 30px;color: white;">Chi Tiết</button>
                                            </tr>
                                            <!-- <tr>
                                                <td>19/01/2021</td>
                                                <td>Thay Đổi Thông Tin Cá Nhân</td>
                                                <td>Đang Đợi Kiểm Định</td>
                                                <td><a [routerLink]="['/detai-history-change']">Chi Tiết</a></td>
                                            </tr>
                                            <tr>
                                                <td>12/01/2021</td>
                                                <td>Thay Đổi Thông Tin Cá Nhân</td>
                                                <td>Từ Chối Thay Đổi</td>
                                                <td><a [routerLink]="['/detai-history-change']">Chi Tiết</a></td>
                                            </tr>
                                            <tr>
                                                <td>05/01/2021</td>
                                                <td>Thay Đổi Thông Tin Cá Nhân</td>
                                                <td>Đang Đợi Kiểm Định</td>
                                                <td><a [routerLink]="['/detai-history-change']">Chi Tiết</a></td>
                                            </tr>
                                            <tr>
                                                <td>02/01/2021</td>
                                                <td>Thay Đổi Thông Tin Cá Nhân</td>
                                                <td>Được Chấp Nhận Thay Đổi</td>
                                                <td><a [routerLink]="['/detai-history-change']">Chi Tiết</a></td>
                                            </tr>
                                            <tr>
                                                <td>13/12/2020</td>
                                                <td>Thay Đổi Thông Tin Cá Nhân</td>
                                                <td>Từ Chối Thay Đổi</td>
                                                <td><a [routerLink]="['/detai-history-change']">Chi Tiết</a></td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger" (click)="openDialogPause()">Tạm
                            Ngưng</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" (click)="openDialogChange()">Sửa
                            Đổi</button>
                </div>
            </div>

        </div>
    </div>
    <!-- ./wrapper -->
</body>

</html>