<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <div class="col-12">
                <section class="content">
                    <div class="row">
                        <div style="width: 60%; margin: 0 auto; text-align: center;">
                            <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true">
                            </canvas>
                            <p>Đồ Thị Lịch Sử Thanh Toán Quyền Lợi</p>
                        </div>
                    </div>

                </section>
            </div>
            <div class="content col-12">
                <table class=" table table-bordered ">
                    <thead>
                        <tr>
                            <th>Tiêu Đề</th>
                            <th>Thông tin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mã Hợp Đồng</td>
                            <td>{{contract.id}}</td>
                        </tr>
                        <tr>
                            <td>Mã Khách Hàng</td>
                            <td>{{contract.id_customer}}</td>
                        </tr>
                        <tr>
                            <td>Chủ Hợp Đồng</td>
                            <td>{{contract.name_contract_owner}}</td>
                        </tr>
                        <tr>
                            <td>Kỳ Hạn</td>
                            <td>{{contract.payment_period}}</td>
                        </tr>
                        <tr>
                            <td>Loại Bảo Hiểm</td>
                            <td>{{contract.insurance_type}}</td>
                        </tr>
                        <tr>
                            <td>Mã Gói Bảo Hiểm</td>
                            <td>{{contract.id_main_interest}}</td>
                        </tr>
                        <tr>
                            <td>Mã Bản Minh Họa</td>
                            <td>{{contract.id_illustration}}</td>
                        </tr>
                        <tr>
                            <td>Ngày Đăng Ký</td>
                            <td>{{contract.start_time}}</td>
                        </tr>
                        <tr>
                            <td>Ngày Hết Hạn</td>
                            <td>{{contract.end_time}}</td>
                        </tr>
                        <tr>
                            <td>Ngày Đóng Tiền Kế Tiếp</td>
                            <td>{{contract.date_next_payment}}</td>
                        </tr>
                        <tr>
                            <td>Trạng Thái</td>
                            <td>{{contract.status}}</td>
                        </tr>
                        <tr>
                            <td>Trạng Thái Phê Duyệt</td>
                            <td>{{contract.approval_status}}</td>
                        </tr>
                        <tr>
                            <td>Kỳ Hạn Đóng Phí</td>
                            <td>{{contract.payment_period}}</td>
                        </tr>

                    </tbody>
                </table>

                <div class="card">
                    <mat-tab-group>
                        <mat-tab label="Lịch Sử Thanh Toán Quyền Lợi">
                            <div class="card" style="height: 700px; background-color: #b8ceff; ">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                    <div class="row" style="float: right;">
                                        <div class="card" style="padding: 10px;
                              background: #28a745; color: white;">
                                            <div>
                                                <label>Search:<input id="Fsearch" type="search"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>From<input id="FfromSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>To<input id="FtoSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <button id="FdelBtn" type="button" class="btn btn-danger">XÓA</button>
                                                <button type="button" class="btn btn-info">Tìm Kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="overflow: auto;">
                                    <table class=" table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Mã Hợp Đồng</th>
                                                <th>Thời Gian Thanh Toán</th>
                                                <th>Số Tiền Thanh Toán</th>
                                                <th>Mã Quyền Lợi</th>
                                                <th>Trạng Thái</th>
                                                <th>Người Xuất Hóa Đơn</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>#1897234</td>
                                                <td><a>{{contract.id}}</a></td>
                                                <td>{{contract.created_time_interset}}</td>
                                                <td>{{contract.payment_amount_interset}}</td>
                                                <td><a href="#">{{contract.id_main_interest}}</a></td>
                                                <td><a>{{contract.id_bill_issuer}}</a></td>
                                                <td>{{contract.approve_status_interset}}</td>
                                            </tr>
                                            <!-- <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>20/11/2021 SA 7:30</td>
                                                <td>1.200.000 đ</td>
                                                <td><a href="#">#KJNJBNCS</a></td>
                                                <td>Đang Chờ Xét Duyệt</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Lịch Sử Đóng Phí Của Khách Hàng">
                            <div class="card" style="height: 700px; background-color: #ff8484d1;">
                                <div class="card-header">
                                    <div class="row" style="float: right;">
                                        <div class="card" style="padding: 10px;
                              background: #28a745; color: white;">
                                            <div>
                                                <label>Search:<input id="Rsearch" type="search"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>From<input id="RfromSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>To<input id="RtoSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <button id="RdelBtn" type="button" class="btn btn-danger">XÓA</button>
                                                <button type="button" class="btn btn-info">Tìm Kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="overflow: auto;">
                                    <table class=" table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Mã Hợp Đồng</th>
                                                <th>Mã Hóa Đơn</th>
                                                <th>Số Tiền</th>
                                                <th>Phương Thức Thanh Toán</th>
                                                <th>Mã Nhân Viên Thu Tiền</th>
                                                <th>Ngày Thu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>#1897234</td>
                                                <td><a>a{{contract.id}}</a></td>
                                                <td><a>{{contract.id_invoice}}</a></td>
                                                <td>{{contract.payment_amount_fee}}</td>
                                                <td>{{contract.payment_method}}</td>
                                                <td><a>{{contract.id_collecter}}</a></td>
                                                <td>{{contract.created_time_fee}}</td>
                                            </tr>
                                            <!-- <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>1.200.000 đ</td>
                                                <td>Internet Banking</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                                <td>20/11/2021 SA 7:30</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>1.200.000 đ</td>
                                                <td>Internet Banking</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                                <td>20/11/2021 SA 7:30</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>1.200.000 đ</td>
                                                <td>Internet Banking</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                                <td>20/11/2021 SA 7:30</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>1.200.000 đ</td>
                                                <td>Internet Banking</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                                <td>20/11/2021 SA 7:30</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>1.200.000 đ</td>
                                                <td>Internet Banking</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                                <td>20/11/2021 SA 7:30</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>1.200.000 đ</td>
                                                <td>Internet Banking</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                                <td>20/11/2021 SA 7:30</td>
                                            </tr>
                                            <tr>
                                                <td>#1897234</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>#JHBVJHJHV798</td>
                                                <td>1.200.000 đ</td>
                                                <td>Internet Banking</td>
                                                <td>Nguyễn Chí Ngọc Minh</td>
                                                <td>20/11/2021 SA 7:30</td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Lịch Sử Thay Đổi Thông Tin">
                            <div class="card" style="height: 700px; background-color: #ff8484d1;">
                                <div class="card-header">
                                    <div class="row" style="float: right;">
                                        <div class="card" style="padding: 10px;
                              background: #28a745; color: white;">
                                            <div>
                                                <label>Search:<input id="Rsearch" type="search"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>From<input id="RfromSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <label>To<input id="RtoSearch" type="date"
                                                        class="form-control form-control-sm" placeholder=""
                                                        aria-controls="example1"></label>
                                                <button id="RdelBtn" type="button" class="btn btn-danger">XÓA</button>
                                                <button type="button" class="btn btn-info">Tìm Kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class=" table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th>Thời Gian Thay Đổi</th>
                                                <th>Mục Thay Đổi</th>
                                                <th>Trạng Thái</th>
                                                <th>Chi Tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{contract.date_changed_contract}}</td>
                                                <td>{{contract.id_request}}</td>
                                                <td>{{contract.approval_status_contract_change}}</td>
                                                <td><a [routerLink]="['/detai-history-change']" routerLinkActive="router-link-active">Chi Tiết</a></td>
                                            </tr>
                                            <!-- <tr>
                                                <td>19/01/2021</td>
                                                <td>Thay Đổi Thông Tin Cá Nhân</td>
                                                <td>Đang Đợi Kiểm Định</td>
                                                <td><a [routerLink]="['/detai-history-change']">Chi Tiết</a></td>
                                            </tr>
                                            <tr>
                                                <td>12/01/2021</td>
                                                <td>Thay Đổi Thông Tin Cá Nhân</td>
                                                <td>Từ Chối Thay Đổi</td>
                                                <td><a [routerLink]="['/detai-history-change']">Chi Tiết</a></td>
                                            </tr>
                                            <tr>
                                                <td>05/01/2021</td>
                                                <td>Thay Đổi Thông Tin Cá Nhân</td>
                                                <td>Đang Đợi Kiểm Định</td>
                                                <td><a [routerLink]="['/detai-history-change']">Chi Tiết</a></td>
                                            </tr>
                                            <tr>
                                                <td>02/01/2021</td>
                                                <td>Thay Đổi Thông Tin Cá Nhân</td>
                                                <td>Được Chấp Nhận Thay Đổi</td>
                                                <td><a [routerLink]="['/detai-history-change']">Chi Tiết</a></td>
                                            </tr>
                                            <tr>
                                                <td>13/12/2020</td>
                                                <td>Thay Đổi Thông Tin Cá Nhân</td>
                                                <td>Từ Chối Thay Đổi</td>
                                                <td><a [routerLink]="['/detai-history-change']">Chi Tiết</a></td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">Tạm
                            Ngưng</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Sửa
                            Đổi</button>
                </div>
            </div>

        </div>

        <div class="modal fade show" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card card-primary">

                            <form>
                                <div class="card-body" style="height: 448px; width: 1200px; overflow: auto;">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mã Hợp Đồng</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Mã Khách Hàng</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tên Chủ Hợp Đồng</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Kỳ Hạn</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Loại Bảo Hiểm</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mã Bảng Minh Họa</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tổng Số Tiền Phải Trả</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tổng Số Tiền Đã Trả</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ngày Đăng Ký</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ngày Hết Hạn</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Save Draft</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal modal-danger fade in" id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                    </div>
                    <div class="modal-body">
                        <p>Gửi yêu cầu cho cấp trên để tạm ngưng hợp đồng này</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline">Gửi</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <!-- ./wrapper -->
</body>

</html>