.exit{
    font-family: unset;
    /* color: tomato; */
    font-weight: bold;
    margin: 5%;
}

.img_customer{
    margin: 3%;
    width: 16%;
    border-radius: 100%;
}

.wellcome{
    left: 24%;
    top: -32px;
    position: relative;
}

.container-image-cust{
    height: 55px;
}