<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>THÔNG TIN CHI TIẾT KHÁCH HÀNG</h1>
          <h2>Mã Khách Hàng: {{ customerCode }}</h2>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Thông Tin Cơ Bản</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                  <th>Họ Và Tên</th>
                  <td>Nguyễn Văn A</td>
                </tr>
                <tr>
                  <th>Ngày Sinh</th>
                  <td>01/01/1992</td>
                </tr>
                <tr>
                  <th>CMND</th>
                  <td>123456789</td>
                </tr>
                <tr>
                  <th>Giới Tính</th>
                  <td>Nam</td>
                </tr>
                <tr>
                  <th>Quốc Tịch</th>
                  <td>Việt Nam</td>
                </tr>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Thông Tin Liên Lạc</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                  <th>Số Điện Thoại 1</th>
                  <td>0123456789</td>
                </tr>
                <tr>
                  <th>Số Điện Thoại 2</th>
                  <td>1234564252</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>email@explame.com</td>
                </tr>
                <tr>
                  <th>Địa Chỉ Nhà</th>
                  <td>121 Thái Hà, Đống Đa, Hà Nội</td>
                </tr>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Thông Tin Nghề Nghiệp</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                  <th>Nghề Nghiệp</th>
                  <td>Kỹ Sư</td>
                </tr>
                <tr>
                  <th>Chức Vụ</th>
                  <td>Quản Đốc</td>
                </tr>
                <tr>
                  <th>Tên Công Ty</th>
                  <td>ABC</td>
                </tr>
                <tr>
                  <th>Địa Chỉ Công Ty</th>
                  <td>200 Chùa Bộc, Đống Đa, Hà Nội</td>
                </tr>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Thông Tin Tài Khoản Ngân Hàng</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                  <th>Tên Tài Khoản</th>
                  <td>Nguyễn Văn A</td>
                </tr>
                <tr>
                  <th>Ngân Hàng</th>
                  <td>TP Bank</td>
                </tr>
                <tr>
                  <th>Chi Nhánh</th>
                  <td>Duy Tân</td>
                </tr>
                <tr>
                  <th>Số Tài Khoản</th>
                  <td>1234567890</td>
                </tr>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h2><b>Giấy Tờ Liên Quan</b></h2>
            </div>
            <table id="example1" class="table table-bordered table-striped">
              <tr>
                <td>Giấy Tờ Liên Quan</td>
                <td><img src="https://img.topbank.vn/2020/02/24/b8awMTJx/minh-hoa-bao-hiem-nhan-tho-4b46.jpg"/></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

