<!DOCTYPE html>
<html>

<header>

</header>

<body>
    <div class="container">
        <div class="headerContent">
            <span>Tạo Bảng minh họa</span>
        </div>
        <div class="title">
            <br>
            <h1><b>Bảng Minh Họa - Tạo Bảng Minh Họa</b></h1>
        </div>
        <div class="infoUser">
            UserID 12324/Lee Xuan Quang
        </div>

        <div>
            <div>
                <fieldset>
                    <legend>Ngày Dự Kiến Bắt Đầu Quyền Lợi Bảo Hiểm</legend>
                    <div class="form-group">
                        <input type="date" class="form-control">
                    </div>
                </fieldset>
            </div>
        </div>

        <div style="display: grid; grid-template-columns: auto auto;">
            <div>
                <fieldset>
                    <legend>Người Được Bảo Hiểm</legend>
                    <table style="display: block;">
                        <tr>
                            <td>Tên</td>
                            <td><input class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Nhóm Nghề</td>
                            <td><input type="date" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Ngày Sinh</td>
                            <td><input type="date" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Giới Tính</td>
                            <td><select class="form-control">
                                <option value="volvo">Nam</option>
                                <option value="saab">Nữ</option>
                            </select></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>Bên Mua Bảo Hiểm</legend>
                    <div class="row">
                        <p>Tên</p>
                        <input class="form-control" readonly>
                    </div>
                    <div class="row">
                        <p>Quan Hệ Với Người Được Bảo Hiểm</p>
                        <select class="form-control">
                            <option>Bố/Mẹ Đẻ</option>
                            <option>Con Cái</option>
                            <option>Vợ/Chồng</option>
                            <option>Bản Thân</option>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <div>
            <div>
                <fieldset>
                    <legend>Sản Phẩm Chính</legend>
                    <table>
                        <tr>
                            <td>Sản Phẩm</td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Thời Hạn</td>
                            <td>Mệnh Giá (VNĐ)</td>
                            <td>Phí Bảo Hiểm (VNĐ)</td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" readonly>
                            </td>
                            <td>
                                <select class="form-control">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>



        <div>
            <div class="col-12">
                <fieldset>
                    <legend>Quyền Lợi Bảo Hiểm Bổ Sung Của Nguyễn Văn An</legend>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Nhóm Nghề Nghiệp</td>
                            <td>Mệnh Giá</td>
                            <td>Phí Bảo Hiểm</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td></td>
                            <td>BH Tai nạn Toàn Diện nâng cao</td>
                            <td>
                                <select class="form-control">
                                        <option value="volvo">1</option>
                                        <option value="saab">2</option>
                                        <option value="opel">3</option>
                                    </select>
                            </td>
                            <td>
                                <select class="form-control">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select class="form-control">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>

                        <tr>
                            <td><input type="checkbox"></td>
                            <td></td>
                            <td>BH Hỗ Trợ điều trị bệnh ung thư</td>
                            <td>
                                <select class="form-control">
                                    <option value="volvo">1</option>
                                    <option value="saab">2</option>
                                    <option value="opel">3</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select class="form-control">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td></td>
                            <td>BH bệnh hiểm nghèo cao cấp toàn diện trả trước</td>
                            <td>
                                <select class="form-control">
                                    <option value="volvo">1</option>
                                    <option value="saab">2</option>
                                    <option value="opel">3</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select class="form-control">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td></td>
                            <td>BH bệnh hiểm nghèo cao cấp toàn diện</td>
                            <td>
                                <select class="form-control">
                                    <option value="volvo">1</option>
                                    <option value="saab">2</option>
                                    <option value="opel">3</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select class="form-control">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="col-12" *ngFor="let item of relatedPerson ; index as i">
            <fieldset>
                <legend>
                    Người Được bảo hiểm bổ sung
                    <button class="w3-button w3-xlarge w3-circle w3-red w3-card-4 customPlusButton" (click)="removeField(i)">-</button>
                </legend>
                <p>Họ Và Tên</p>
                <input class="form-control">
                <p>Quan Hệ Với Người Được Bảo Hiểm</p>
                <select class="form-control">
                            <option>Bố/Mẹ Đẻ</option>
                            <option>Con Cái</option>
                            <option>Vợ/Chồng</option>
                            <option>Bản Thân</option>
                        </select>
                <p>Ngày Sinh</p>
                <input class="form-control">
                <p>Giới Tính</p>
                <input class="form-control">
                <p>Nhóm Nghề</p>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </fieldset>
            <h3>Quyền lợi bổ sung</h3>
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Nhóm Nghề Nghiệp</td>
                    <td>Mệnh Giá</td>
                    <td>Phí Bảo Hiểm</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td></td>
                    <td>BH Tai nạn Toàn Diện nâng cao</td>
                    <td>
                        <select class="form-control">
                                <option value="volvo">1</option>
                                <option value="saab">2</option>
                                <option value="opel">3</option>
                            </select>
                    </td>
                    <td>
                        <select class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                    </td>
                    <td>
                        <select class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                    </td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td></td>
                    <td>BH Hỗ Trợ điều trị bệnh ung thư</td>
                    <td>
                        <select class="form-control">
                            <option value="volvo">1</option>
                            <option value="saab">2</option>
                            <option value="opel">3</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                    </td>
                    <td>
                        <select class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td></td>
                    <td>BH bệnh hiểm nghèo cao cấp toàn diện trả trước</td>
                    <td>
                        <select class="form-control">
                            <option value="volvo">1</option>
                            <option value="saab">2</option>
                            <option value="opel">3</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                    </td>
                    <td>
                        <select class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td></td>
                    <td>BH bệnh hiểm nghèo cao cấp toàn diện</td>
                    <td>
                        <select class="form-control">
                            <option value="volvo">1</option>
                            <option value="saab">2</option>
                            <option value="opel">3</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                    </td>
                    <td>
                        <select class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="formButtonP">
            <button class="w3-button w3-xlarge w3-circle w3-red w3-card-4 customPlusButton" (click)="addField()">+</button>
            <p>Thêm Người Được Bảo Hiểm Bổ Sung</p>
        </div>

        <div style="width: 100%; border: 1px solid; padding: 10px;">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <p>Định Kỳ Trả Phí</p>
                        <select class="form-control" style="width: fit-content;">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                        <button>Tính Phí</button>
                    </div>
                </div>
                <div class="col-4">
                    <p>Tổng Phí Bảo Hiểm</p>
                </div>
                <div style="color: red;">
                    <p>21.000.000 VNĐ</p>
                </div>
            </div>
        </div>
        <button style="margin-top: 20px; margin-bottom: 20px;">PRINT</button>
    </div>


</body>

</html>