<!DOCTYPE html>
<html>



<header>
</header>

<body>
    <div class="container" id="content" #content>
        <div class="headerContent noprint">
            <span>Tạo Bảng minh họa</span>
        </div>
        <div class="title" class="noprint">
            <br>
            <h1><b>Bảng Minh Họa - Tạo Bảng Minh Họa</b></h1>
        </div>
        <div class="infoUser noprint">
            UserID {{ customerInfo.id }}/{{ customerInfo.full_name }}
        </div>

        <div>
            <div>
                <fieldset>
                    <legend>Ngày Dự Kiến Bắt Đầu Quyền Lợi Bảo Hiểm</legend>
                    <div class="form-group">
                        <input type="date" class="form-control" [(ngModel)]="create_time_ill">
                    </div>
                </fieldset>
            </div>
        </div>

        <div style="display: grid; grid-template-columns: auto auto;">
            <div>
                <fieldset>
                    <legend>Người Được Bảo Hiểm</legend>
                    <table style="display: block;">
                        <tr>
                            <td>Tên</td>
                            <td><input class="form-control" [(ngModel)]="illustrationMainInterest.full_name_insured_person"></td>
                        </tr>
                        <tr>
                            <td>Nhóm Nghề</td>
                            <td><select class="form-control" [(ngModel)]="illustrationMainInterest.carrier_group_insured_person">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>Ngày Sinh</td>
                            <td><input type="date" class="form-control" [(ngModel)]="illustrationMainInterest.birth_date_insured_person" max="2019-12-31"></td>
                        </tr>
                        <tr>
                            <td>Giới Tính</td>
                            <td><select class="form-control" [(ngModel)]="illustrationMainInterest.gender_insured_person">
                                <option [value] = true>Nam</option>
                                <option [value] = false>Nữ</option>
                            </select></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>Bên Mua Bảo Hiểm</legend>
                    <div class="row">
                        <p>Tên</p>
                        <input class="form-control" value="{{ customerInfo.full_name }}" [(ngModel)]="illustrationMainInterest.full_name_insurance_buyer" readonly>
                    </div>
                    <div class="row">
                        <p>Quan Hệ Với Người Được Bảo Hiểm</p>
                        <select class="form-control" [(ngModel)]="illustrationMainInterest.insurance_buyer_relation_insured_person">
                            <option>Bố/Mẹ Đẻ</option>
                            <option>Con Cái</option>
                            <option>Vợ/Chồng</option>
                            <option>Bản Thân</option>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <div>
            <div>
                <fieldset>
                    <legend>Sản Phẩm Chính</legend>
                    <table>
                        <tr>
                            <td>Sản Phẩm</td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control" [(ngModel)]="mainInterestSelect">
                                    <option [ngValue] = "interest"  *ngFor="let interest of mainInterestList">{{ interest.interest_name }}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Thời Hạn</td>
                            <td>Mệnh Giá (VNĐ)</td>
                            <td>Phí Bảo Hiểm (VNĐ)</td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" value="{{ mainInterestSelect.fee_period }}" readonly>
                            </td>
                            <td>
                                <input class="form-control" type="number" [(ngModel)]="illustrationMainInterest.denominations" min="{{ mainInterestSelect.minimum_value }}">
                            </td>
                            <td>
                                <input class="form-control" readonly [(ngModel)]="illustrationMainInterest.fee_value">
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>



        <div>
            <div class="col-12">
                <form>
                    <fieldset>
                        <legend>Quyền Lợi Bảo Hiểm Bổ Sung Của Nguyễn Văn An</legend>
                        <table>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Nhóm Nghề Nghiệp</td>
                                <td>Mệnh Giá</td>
                                <td>Phí Bảo Hiểm</td>
                            </tr>
                            <tr *ngFor="let interest of subInterestListCopy;index as i">
                                <td><input type="checkbox" (change)="activeSubIllustration(i)"></td>
                                <td></td>
                                <td>{{ interest.interest_name }}</td>
                                <td>
                                    <input class="form-control" value="{{ illustrationMainInterest.carrier_group_insured_person }}" name="carrier_group_extra_insured_person" readonly>
                                </td>
                                <td>
                                    <input class="form-control" type="number" name="denominations" [(ngModel)]="interest.denominations" [attr.disabled]="interest.isDisable?'':null" min="50000000">
                                </td>
                                <td>
                                    <input class="form-control" value="{{ interest.fee_value }}" name="fee_value" readonly>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-12" *ngFor="let item of relatedPerson ; index as i">
            <fieldset>
                <legend>
                    Người Được bảo hiểm bổ sung
                    <button class="w3-button w3-xlarge w3-circle w3-red w3-card-4 customPlusButton" (click)="removeField(i)">-</button>
                </legend>
                <p>Họ Và Tên</p>
                <input class="form-control" [(ngModel)]="item.full_name">
                <p>Quan Hệ Với Người Được Bảo Hiểm</p>
                <select class="form-control" [(ngModel)]="item.relation">
                            <option>Bố/Mẹ Đẻ</option>
                            <option>Con Cái</option>
                            <option>Vợ/Chồng</option>
                            <option>Bản Thân</option>
                        </select>
                <p>Ngày Sinh</p>
                <input class="form-control" type="date" [(ngModel)]="item.date_of_birth" max="2019-12-31">
                <p>Giới Tính</p>
                <td><select class="form-control" [(ngModel)]="item.gender">
                    <option [value] = true >Nam</option>
                    <option [value] = false>Nữ</option>
                </select></td>
                <p>Nhóm Nghề</p>
                <select class="form-control" [(ngModel)]="item.carreer_group">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </fieldset>
            <h3>Quyền lợi bổ sung</h3>
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Nhóm Nghề Nghiệp</td>
                    <td>Mệnh Giá</td>
                    <td>Phí Bảo Hiểm</td>
                </tr>
                <tr *ngFor="let interest of item.listSubInterest ; index as i2">
                    <td><input type="checkbox" (change)="activeSubIllustrationRelatedPerson(i,i2)"></td>
                    <td></td>
                    <td>{{ interest.interest_name }}</td>
                    <td>
                        <input class="form-control" value="{{ item.carreer_group }}" [(ngModel)]="interest.carrier_group_extra_insured_person" name="carrier_group_extra_insured_person" readonly>
                    </td>
                    <td>
                        <input class="form-control" type="number" name="denominations" [(ngModel)]="interest.denominations" [attr.disabled]="interest.isDisable?'':null" min="50000000">
                    </td>
                    <td>
                        <input class="form-control" value="{{ interest.fee_value }}" name="fee_value" readonly>
                    </td>
                </tr>
            </table>
        </div>
        <div class="formButtonP noprint">
            <button class="w3-button w3-xlarge w3-circle w3-red w3-card-4 customPlusButton" (click)="addField()">+</button>
            <p>Thêm Người Được Bảo Hiểm Bổ Sung</p>
        </div>

        <div style="width: 100%; border: 1px solid; padding: 10px;">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <p>Định Kỳ Trả Phí</p>
                        <select class="form-control" [(ngModel)]="mulPeriod">
                            <option [ngValue]="item" *ngFor = "let item of reference.multiplierForPaymentPeriod">{{item.description}} (Hệ Số: {{item.multiplier}})</option>
                        </select>
                        <button class="form-control noprint" (click)="onCalculate()" [disabled]="checkCountPayment">Tính Phí</button>
                    </div>
                </div>
                <div class="col-4">
                    <p>Tổng Phí Bảo Hiểm</p>
                </div>
                <div style="color: red;">
                    <p>{{ totalPayment.toLocaleString() }} VNĐ</p>
                </div>
            </div>
        </div>
        <button class="form-control noprint" style="margin-top: 20px; margin-bottom: 20px;" (click)="save()" [disabled]="!checkedTick">LƯU BẢNG MINH HỌA</button>
        <button class="form-control noprint" (click)="dowloadPDF()">XUẤT PDF</button>
    </div>


</body>

</html>