<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Theo Dõi Doanh Thu</h3>
                            </div>
                            <table class=" table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>Hạng Mục</th>
                                        <th>Số Tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tổng Thu Nhập Tháng Trước (12/2020)</td>
                                        <td>120.000.000</td>
                                    </tr>
                                    <tr>
                                        <td>Số Tiền Đã Thanh Toán Tháng Trước (12/2020)</td>
                                        <td>70.000.000</td>
                                    </tr>
                                    <tr>
                                        <td>Số Lượng Hợp Đồng Mới Tháng Trước (12/2020)</td>
                                        <td>9</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Thu Nhập Theo Hợp Đồng</h3>
                                <div class="row" style="float: right;">
                                    <div class="card" style="padding: 10px;
                                        background: #28a745; color: white;">
                                        <div>
                                            <label>Search:<input id="Rsearch" type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
                                            <label>From<input id="RfromSearch" type="date" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
                                            <label>To<input id="RtoSearch" type="date" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label>
                                            <button id="RdelBtn" type="button" class="btn btn-danger">XÓA</button>
                                            <button type="button" class="btn btn-info">Tìm Kiếm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" style="height: 1200px; overflow: auto;">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Mã Hợp Đồng</th>
                                            <th>Thu Nhập</th>
                                            <th>Doanh Thu</th>
                                            <th>Thời Gian</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">#109384JHBMNB</a></td>
                                            <td>2.000.000 đ</td>
                                            <td>300.000.000</td>
                                            <td>20/11/2021 8:30 SA</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">#109384JHBMNB</a></td>
                                            <td>2.000.000 đ</td>
                                            <td>300.000.000</td>
                                            <td>20/11/2021 8:30 SA</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">#109384JHBMNB</a></td>
                                            <td>2.000.000 đ</td>
                                            <td>300.000.000</td>
                                            <td>20/11/2021 8:30 SA</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">#109384JHBMNB</a></td>
                                            <td>2.000.000 đ</td>
                                            <td>300.000.000</td>
                                            <td>20/11/2021 8:30 SA</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">#109384JHBMNB</a></td>
                                            <td>2.000.000 đ</td>
                                            <td>300.000.000</td>
                                            <td>20/11/2021 8:30 SA</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">#109384JHBMNB</a></td>
                                            <td>2.000.000 đ</td>
                                            <td>300.000.000</td>
                                            <td>20/11/2021 8:30 SA</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">#109384JHBMNB</a></td>
                                            <td>2.000.000 đ</td>
                                            <td>300.000.000</td>
                                            <td>20/11/2021 8:30 SA</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Thu Nhập Năm Qua</h3>
                            </div>
                            <div class="card-body">
                                <table class=" table table-bordered ">
                                    <thead>
                                        <tr>
                                            <th>Tháng</th>
                                            <th>Số Tiền</th>
                                            <th>Chi Tiết</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tháng 1</td>
                                            <td>150.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 2</td>
                                            <td>30.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 3</td>
                                            <td>70.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 4</td>
                                            <td>70.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 5</td>
                                            <td>293.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 6</td>
                                            <td>170.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 7</td>
                                            <td>450.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 8</td>
                                            <td>70.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 9</td>
                                            <td>320.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 10</td>
                                            <td>230.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 11</td>
                                            <td>300.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                        <tr>
                                            <td>Tháng 12</td>
                                            <td>120.000.000</td>
                                            <td><a href="detailMoney.html">Chi Tiết</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>