<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>THÔNG TIN CHI TIẾT YÊU CẦU XÉT DUYỆT</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">

            <mat-tab-group>
              <td>
                <mat-tab label="Giấy Tờ Liên Quan">
                  <img src="https://img.topbank.vn/2020/02/24/b8awMTJx/minh-hoa-bao-hiem-nhan-tho-4b46.jpg" />
                </mat-tab>
                <mat-tab label="Thông tin cá nhân">
                  <mat-tab-group>
                    <mat-tab label="Thông tin Cơ Bản">
                        <div class="row">
                            <div class=" col-6 ">
                                <h3>Thông tin Cơ Bản</h3>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Nguồn</label>
                                    <p style="color: red; ">Không Có</p>
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputPassword1 ">Ngày Cập Nhật</label>
                                    <p style="color: red; ">20/11/2021</p>
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputPassword1 ">Mã Hợp Đồng</label>
                                    <p style="color: red; "><a href="# ">#128462364</a></p>
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputPassword1 ">Mã Bản Minh Họa</label>
                                    <p style="color: red; "><a href="# ">#128462364</a></p>
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputPassword1 ">Mã Khách Hàng</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.code }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Họ Tên</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.full_name }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Giới Tính</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.gender }}</p> -->
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Tình Trạng Hôn Nhân</label>
                                    <p style="color: red; ">Chưa Kết Hôn</p>
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Ngày Sinh</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.birth_address }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Tuổi</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.age }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Nơi Sinh</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.curadd_city }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Loại Giấy Tờ Tùy Thân</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.types_identification }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Giấy Tờ Nhân Thân Số</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.ID_card }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Quốc Tịch Thứ Nhất</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.nationality_1 }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Quốc Tịch Khác Khác (Nếu Có)</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.nationality_1 }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Dân Tộc</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.nation }}</p> -->
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Thông tin Nghề Nghiệp">
                        <div class="col-6 ">
                            <h3>Thông tin Nghề Nghiệp</h3>
                            <div class="form-group ">
                                <label for="exampleInputEmail1 ">Nghề Nghiệp</label>
                                <!-- <p style="color: red; ">{{ customerInfo.job }}</p> -->
                            </div>
                            <div class="form-group ">
                                <label for="exampleInputEmail1 ">Chức Vụ</label>
                                <!-- <p style="color: red; ">{{ customerInfo.position }}</p> -->
                            </div>
                            <div class="form-group ">
                                <label for="exampleInputEmail1 ">Nghành Nghề</label>
                                <!-- <p style="color: red; ">{{ customerInfo.career }}</p> -->
                            </div>
                            <div class="form-group ">
                                <label for="exampleInputEmail1 ">Nhóm Nghề</label>
                                <!-- <p style="color: red; ">{{ customerInfo.occupation_group }}</p> -->
                            </div>
                            <div class="form-group ">
                                <label for="exampleInputEmail1 ">Tên Cơ Quan Làm Việc</label>
                                <!-- <p style="color: red; ">{{ customerInfo.company_name }}</p> -->
                            </div>
                            <div class="form-group ">
                                <label for="exampleInputEmail1 ">Lĩnh vực Kinh Doanh</label>
                                <!-- <p style="color: red; ">{{ customerInfo.main_business }}</p> -->
                            </div>
                            <div class="form-group ">
                                <label for="exampleInputEmail1 ">Công việc cụ thể</label>
                                <!-- <p style="color: red; ">{{ customerInfo.specific_work }}</p> -->
                            </div>
                            <div class="form-group ">
                                <label for="exampleInputEmail1 ">Thu Nhập Cá Nhân Hàng Tháng</label>
                                <!-- <p style="color: red; ">{{ customerInfo.monthly_income }}\</p> -->
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Địa Chỉ Và Thông Tin Liên Lạc">
                        <div class="row">
                            <div class="col-6 ">
                                <h4>Địa Chỉ Nơi Ở Hiện Tại</h4>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Số Nhà và Tên Đường</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.curadd_no_street }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Thành Phố/Tỉnh</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.curadd_city }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Quận/Huyện</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.curadd_district }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Phường/Xã/Thị Trấn:</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.curadd_wards }}</p> -->
                                </div>
                            </div>
                            <div class="col-6 ">
                                <h4>Địa Chỉ Thường Chú</h4>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Số Nhà và Tên Đường</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.peradd_no_street }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Thành Phố/Tỉnh</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.peradd_city }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Quận/Huyện</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.peradd_district }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Phường/Xã/Thị Trấn:</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.peradd_wards }}</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <h4>Địa Chỉ Liên Lạc Đặc Biệt</h4>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Số Nhà và Tên Đường</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.conadd_no_street }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Thành Phố/Tỉnh</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.conadd_city }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Quận/Huyện</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.conadd_district }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Phường/Xã/Thị Trấn:</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.conadd_wards }}</p> -->
                                </div>
                            </div>
                            <div class="col-6 ">
                                <h4>Địa Chỉ Nơi Làm Việc</h4>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Số Nhà và Tên Đường</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.workadd_no_street }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Thành Phố/Tỉnh</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.workadd_city }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Quận/Huyện</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.workadd_district }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Phường/Xã/Thị Trấn:</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.workadd_wards }}</p> -->
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Thông Tin Liên Lạc">
                        <div class="row">
                            <div class="col-6">
                                <h3>ĐT cố Định và Email</h3>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Email:</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.email }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Điện Thoại Cố Định:</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.workadd_wards }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Điện Thoại Di Động 1:</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.phone_1 }}</p> -->
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Điện Thoại Di Động 2:</label>
                                    <!-- <p style="color: red; ">{{ customerInfo.phone_2 }}</p> -->
                                </div>
                            </div>
                            <div class="col-6">
                                <h3>Thông Tin tài khoản bên mua bảo hiểm</h3>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Tên Tài Khoản</label>
                                    <p style="color: red; ">nguyenchingocminh</p>
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Chi Nhánh - Phòng Giao Dịch</label>
                                    <p style="color: red; ">APHA</p>
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputEmail1 ">Tỉnh/Thành Phố</label>
                                    <p style="color: red; ">Hà Nội</p>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                </mat-tab>
                <mat-tab label="Bảng minh họa">
                  <img src="https://img.topbank.vn/2020/02/24/b8awMTJx/minh-hoa-bao-hiem-nhan-tho-4b46.jpg" />
                </mat-tab>
              </td>
              <td>
              </td>
            </mat-tab-group>


          </div>
          <!-- /.card -->
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h2><b>Form Xét Duyệt</b></h2>
            </div>
            <table class=" table table-bordered ">
              <tr>
                <th>Quyết Định Xét Duyệt</th>
                <td>
                  <select class="custom-select">
                    <option>Chấp Nhận</option>
                    <option>Yêu CẦu Bổ Sung</option>
                    <option>Từ Chối</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Ghi Chú</th>
                <td><textarea class="form-control" rows="3" placeholder="Enter ..."></textarea></td>
              </tr>
              <tr>
                <td colspan="2"><button type="button" class="btn btn-block btn-success btn-sm"
                    (click)="displayConfirmDialog()">Lưu</button></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<div class="modal" [ngClass]="status ? 'active' : ''" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="card-body" style="height: auto; width: 700px; overflow: auto;">
          <div style="display: inline;">
            <h3>Xác Nhận</h3>
          </div>
          <div class="form-group">
            <input type="submit" class="form-control" value="Xác Nhận" id="exampleInputEmail1"
              style="background: #28a745; color: white;">
          </div>
          <div class="form-group">
            <button class="form-control" style="background: #c82333; color: white;"
              (click)="displayConfirmDialog()">Huỷ</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>