<!DOCTYPE html>
<html>

<header>

</header>

<body>
    <div class="container">
        <div class="headerContent">
            <span>Tạo Bảng minh họa</span>
        </div>
        <div class="title">
          <br>
            <h1><b>Bảng Minh Họa - Tạo Bảng Minh Họa</b></h1>
        </div>
        <div class="infoUser">
            UserID 12324/Lee Xuan Quang
        </div>

        <div>
            <div>
                <fieldset>
                    <legend>Ngày Dự Kiến Bắt Đầu Quyền Lợi Bảo Hiểm</legend>
                    <div class="form-group">
                        <label>Date:</label>
                        <input type="date">
                        <!-- /.input group -->
                    </div>
                </fieldset>
            </div>
        </div>

        <div style="display: grid; grid-template-columns: auto auto;">
            <div>
                <fieldset>
                    <legend>Bên Mua Bảo Hiểm</legend>
                    <table style="display: block;">
                        <tr>
                            <td>Tên</td>
                            <td><input></td>
                        </tr>
                        <tr>
                            <td>Mối Quan hệ với NĐBH sản phẩm chính</td>
                            <td><input></td>
                        </tr>
                        <tr>
                            <td>Ngày Sinh</td>
                            <td><input type="date"></td>
                        </tr>
                        <tr>
                            <td>Giới Tính</td>
                            <td><select>
                                <option value="volvo">Nam</option>
                                <option value="saab">Nữ</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>Số CMND</td>
                            <td><input></td>
                        </tr>
                        <tr>
                            <td>Địa Chỉ</td>
                            <td><input></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>Người được bảo hiểm của hợp đồng chính</legend>
                    <div class="row">
                        <p>Tên</p>
                        <input>
                        <p>Người được bảo hiểm cũng là chủ hợp đồng nếu là 2 người khác nhau, nhập tên của người được bảo hiểm ở trên</p>
                    </div>
                </fieldset>
            </div>
        </div>
        <div>
            <div>
                <fieldset>
                    <legend>Hợp Đồng Chính</legend>
                    <table>
                        <tr>
                            <td>Chương Trình</td>
                            <td>Chọn Lựa</td>
                        </tr>
                        <tr>
                            <td>
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Lựa Chọn Sản Phẩm</td>
                            <td>Thời Hạn</td>
                            <td>Số Tiền Bảo Hiểm (VNĐ)</td>
                            <td>Phí Bảo Hiểm (VNĐ)</td>
                        </tr>
                        <tr>
                            <td>
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>



        <div>
            <div class="col-12">
                <fieldset>
                    <legend>Quyền Lợi Bảo Hiểm Bổ Sung Của Nguyễn Văn An</legend>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Nhóm Nghề Nghiệp</td>
                            <td>Thời Hạn</td>
                            <td>Số Tiền Bảo Hiểm</td>
                            <td>Phí Bảo Hiểm</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                            <td></td>
                            <td>BH Tai nạn Toàn Diện nâng cao</td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                            <td></td>
                            <td>BH Chăm Sóc Sức Khỏe</td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                            <td>Người được bh sản phẩm chính đã tham gia bảo hiểm chăm sóc sức khỏe tại hợp đồng khác ở DLVN</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                            <td>Quyền Lợi Điều Trị nội trú</td>
                            <td></td>
                            <td></td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                            <td>Quyền Lợi Điều Trị ngoại trú</td>
                            <td></td>
                            <td></td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                            <td> quyền lợi Chăm sóc răng</td>
                            <td></td>
                            <td></td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                            <td></td>
                            <td>BH Hỗ Trợ Chi phí chữa bệnh nan y</td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                            <td></td>
                            <td>BH Hỗ Trợ điều trị bệnh ung thư</td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                            <td></td>
                            <td>BH bệnh hiểm nghèo cao cấp toàn diện trả trước</td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                            <td></td>
                            <td>BH bệnh hiểm nghèo cao cấp toàn diện</td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                            <td>
                                <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="col-12">
            <fieldset>
                <legend>Người Được bảo hiểm bổ sung</legend>
                <div class="row">
                    <input>
                    <button>Thêm NĐBH Bổ Sung</button>
                    <button>Xóa NĐBH Bổ Sung</button>
                </div>
            </fieldset>
        </div>

        <div class="col-12">
            <fieldset>
                <legend>Quyền Lợi Bảo Hiểm Của</legend>
                <table>
                    <tr>
                        <td>Tên </td>
                        <td><input> </td>
                        <td> Địa Chỉ</td>
                        <td> <input> </td>
                    </tr>
                    <tr>
                        <td> Mối Quan hệ với NĐBH sản phẩm chính</td>
                        <td>
                            <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                        </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Ngày Sinh </td>
                        <td><input type="date"> </td>
                        <td>Số CMND </td>
                        <td> <input></td>
                    </tr>
                    <tr>
                        <td> Giới Tính </td>
                        <td>
                            <select>
                                    <option value="volvo">Nam</option>
                                    <option value="saab">Nữ</option>
                                </select>
                        </td>
                        <td> Nghề Nghiệp </td>
                        <td><input> </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div style="width: 100%; border: 1px solid; padding: 10px;">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <p>Định Kỳ Trả Phí</p>
                        <select name="cars" id="cars" style="width: fit-content;">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                        <button>Tính Phí</button>
                    </div>
                </div>
                <div class="col-4">
                    <p>Tổng Phí Bảo Hiểm</p>
                </div>
                <div style="color: red;">
                    <p>21.000.000 VNĐ</p>
                </div>
            </div>
        </div>
        <button style="margin-top: 20px; margin-bottom: 20px;">PRINT</button>
    </div>


</body>
</html>
