<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>CHI TIẾT MAIL</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <table class=" table table-bordered ">
              <thead>
                  <tr>
                      <th>Hạng Mục</th>
                      <th>Nội Dung</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Tiêu Đề</td>
                      <td>Demo</td>
                  </tr>
                  <tr>
                    <td>Người Gửi</td>
                    <td>Demo</td>
                  </tr>
                  <tr>
                    <td>Ngày Gửi</td>
                    <td>Demo</td>
                  </tr>
                  <tr>
                    <td>CC</td>
                    <td>Demo</td>
                  </tr>
                  <tr>
                    <td>Nội Dung</td>
                    <td>Demo</td>
                  </tr>
                  <tr>
                    <td>File Đính Kèm</td>
                    <td>Demo</td>
                  </tr>
              </tbody>
            </table>

          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>



