<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: none;">

    <div class="income">
        <div class="card">
            <div class="card-body">
                <table class=" table table-bordered">
                    <thead>
                        <tr>
                            <th>Hạng Mục</th>
                            <th>Số Tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tổng Thu Nhập Tháng Trước ({{month-1}}/{{year}})</td>
                            <td>{{RevenueLastMonth | currency :"VND"}}</td>
                        </tr>
                        <tr>
                            <td>Số Lượng Hợp Đồng Mới Tháng Trước ({{month-1}}/{{year}})</td>
                            <td>{{ContractCount | currency :"VND"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Thu Nhập Theo Hợp Đồng</h1>
            </div>
            <div class="card-body" style=" overflow: auto;">

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Mã Hợp Đồng</th>
                            <th>Thu Nhập</th>
                            <th>Doanh Thu</th>
                            <th>Thời Gian</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let revenue of listRevenueEmployee">
                            <td>{{revenue.id_contract}}</td>
                            <td>{{revenue.income | currency :"VND"}}</td>
                            <td>{{revenue.revenue_val | currency :"VND"}}</td>
                            <td>{{revenue.create_time | date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls style="float: right;" id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Thu Nhập Năm Qua</h1>
            </div>
            <div class="card-body">
                <table class=" table table-bordered ">
                    <thead>
                        <tr>
                            <th>Tháng</th>
                            <th>Số Tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let month of monthRevenueList,index as i">
                            <td>Tháng {{i+1}}</td>
                            <td>{{month | currency :"VND"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>