<body class="hold-transition">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 [id]="pageTitle">{{ pageTitle }}</h1>
                            <button type="button" class="btn btn-block btn-success btn-lg" data-toggle="modal" data-target="#myModal" style="width: 210px; margin-top: 16px;" (click)="openDialog()">{{ addEmployeeBtn }}</button>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- search -->
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                    <div class="row" style="float: right;">
                                        <div class="card" style="padding: 10px;
                                            background: #28a745; color: white;">
                                            <div>
                                                <label>Search:<input id="Fsearch" type="search"
                                                    class="form-control form-control-sm" placeholder=""
                                                    aria-controls="example1"></label>
                                                <label>From<input id="FfromSearch" type="date"
                                                    class="form-control form-control-sm" placeholder=""
                                                    aria-controls="example1"></label>
                                                <label>To<input id="FtoSearch" type="date"
                                                    class="form-control form-control-sm" placeholder=""
                                                    aria-controls="example1"></label>
                                                <button id="FdelBtn" type="button" class="btn btn-danger">XÓA</button>
                                                <button type="button" class="btn btn-info">Tìm Kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <app-view-em-table></app-view-em-table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>