<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>DANH SÁCH KHÁCH HÀNG</h1>
                            <button type="button" class="btn btn-block btn-success btn-lg" style="width: auto;"
                            (click)="displayAddCustomerDialog()">THÊM KHÁCH HÀNG</button>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- search -->
                              <div class="card-header">
                                <div class="row">
                                  <div class="col-3">
                                      <div class="form-group">
                                        <div class="input-group input-group-lg">
                                          <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here" style="font-size: 15px;">
                                          <div class="input-group-append">
                                              <button type="submit" class="btn btn-lg btn-default">
                                                  <i class="fa fa-search"></i>
                                              </button>
                                          </div>
                                      </div>
                                      </div>
                                  </div>
                                  <div class="col-3">
                                      <div class="form-group">
                                        <label style="float: right; font-size: 13px;">Order By</label>
                                          <select class="select2" style="width: 100%;" data-select2-id="3" tabindex="-1" aria-hidden="true" name="searchOrder">
                                            <option selected>Month</option>
                                            <option>ASC</option>
                                            <option>DESC</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-3">
                                      <div class="form-group">
                                        <label style="float: right; font-size: 13px;">Order By</label>
                                          <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true" name="searchTime">
                                            <option selected>Year</option>
                                            <option>Title</option>
                                            <option>Date</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <!-- search -->
                                <div class="card-body">
                                  <app-customer-table></app-customer-table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>


            <div class="modal" id="myModal" role="dialog" [ngClass]="status? 'active' : ''">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="card card-primary">
                                <form>
                                    <div class="card-body" style="height: 700px; width: 1200px; overflow: auto;">
                                        <h2><b>Thông tin Cơ Bản</b></h2>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nguồn</label>
                                            <input type="email" class="form-control" name="source">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Ngày Cập Nhật</label>
                                            <input type="password" class="form-control" name="updateDay">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Họ Và Tên</label>
                                            <input type="email" class="form-control" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mã Hợp Đồng</label>
                                            <input type="email" class="form-control" name="contractId">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mã Bản Minh Họa</label>
                                            <input type="email" class="form-control" name="illustrationId">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Giới Tính</label>
                                            <input type="email" class="form-control" name="sex">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tình Trạng Hôn Nhân</label>
                                            <input type="email" class="form-control" name="maritalStatus">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Ngày Sinh</label>
                                            <input type="email" class="form-control" name="dob">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tuổi</label>
                                            <input type="email" class="form-control" name="age">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nơi Sinh</label>
                                            <input type="email" class="form-control" name="placeOfBirth">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Loại Giấy Tờ Tùy Thân</label>
                                            <input type="email" class="form-control" name="typeOfIdentificationDocument">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Giấy Tờ Nhân Thân Số</label>
                                            <input type="email" class="form-control" name="identificationPapersNumber">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Quốc Tịch Thứ Nhất</label>
                                            <input type="email" class="form-control" name="firstnationality">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Quốc Tịch Khác Khác (Nếu Có)</label>
                                            <input type="email" class="form-control" name="secondNationality">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Dân Tộc</label>
                                            <input type="email" class="form-control" name="ethnic">
                                        </div>
                                        <h2><b>Thông tin Nghề Nghiệp</b></h2>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nghề Nghiệp</label>
                                            <input type="email" class="form-control" name="job">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Chức Vụ</label>
                                            <input type="email" class="form-control" name="position">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nghành Nghề</label>
                                            <input type="email" class="form-control" name="career">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nhóm Nghề</label>
                                            <input type="email" class="form-control" name="careerGroup">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên Cơ Quan Làm Việc</label>
                                            <input type="email" class="form-control" name="workAgencyName">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Lĩnh vực Kinh Doanh</label>
                                            <input type="email" class="form-control" name="business">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Công việc cụ thể</label>
                                            <input type="email" class="form-control" name="detailCareer">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Thu Nhập Cá Nhân Hàng Tháng</label>
                                            <input type="email" class="form-control" name="monthlyIncome">
                                        </div>
                                        <h2><b>Địa Chỉ Và Thông Tin Liên Lạc</b></h2>
                                        <h3>Địa Chỉ Nơi Ở Hiện Tại</h3>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Số Nhà và Tên Đường</label>
                                            <input type="email" class="form-control" name="detailAddress1">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Thành Phố/Tỉnh</label>
                                            <input type="email" class="form-control" name="province1">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Quận/Huyện</label>
                                            <input type="email" class="form-control" name="district1">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Phường/Xã/Thị Trấn:</label>
                                            <input type="email" class="form-control" name="ward1">
                                        </div>
                                        <h2><b>Địa Chỉ Liên Lạc</b></h2>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Địa Chỉ Liên Lạc</label>
                                            <input type="email" class="form-control" name="contactAddress1">
                                        </div>
                                        <h2><b>Địa Chỉ Thường Chú</b></h2>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Số Nhà và Tên Đường</label>
                                            <input type="email" class="form-control" name="detailAddress2">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Thành Phố/Tỉnh</label>
                                            <input type="email" class="form-control" name="province2">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Quận/Huyện</label>
                                            <input type="email" class="form-control" name="district2">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Phường/Xã/Thị Trấn:</label>
                                            <input type="email" class="form-control" name="ward2">
                                        </div>
                                        <h2><b>Địa Chỉ Liên Lạc Đặc Biệt</b></h2>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Số Nhà và Tên Đường</label>
                                            <input type="email" class="form-control" name="detailAddress3">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Thành Phố/Tỉnh</label>
                                            <input type="email" class="form-control" name="province3">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Quận/Huyện</label>
                                            <input type="email" class="form-control" name="district3">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Phường/Xã/Thị Trấn:</label>
                                            <input type="email" class="form-control" name="ward3">
                                        </div>
                                        <h2><b>Địa Chỉ Nơi Làm Việc</b></h2>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Số Nhà và Tên Đường</label>
                                            <input type="email" class="form-control" name="detailAddress4">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Thành Phố/Tỉnh</label>
                                            <input type="email" class="form-control" name="province4">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Quận/Huyện</label>
                                            <input type="email" class="form-control" name="district4">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Phường/Xã/Thị Trấn:</label>
                                            <input type="email" class="form-control" name="ward4">
                                        </div>
                                        <h2><b>ĐT cố Định và Email</b></h2>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email:</label>
                                            <input type="email" class="form-control" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Điện Thoại Cố Định:</label>
                                            <input type="email" class="form-control" name="teleNumber">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Điện Thoại Di Động 1:</label>
                                            <input type="email" class="form-control" name="mobileNumber1">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Điện Thoại Di Động 2:</label>
                                            <input type="email" class="form-control" name="mobileNumber2">
                                        </div>
                                        <h2><b>Thông Tin tài khoản bên mua bảo hiểm</b></h2>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên Tài Khoản</label>
                                            <input type="email" class="form-control" name="bankAccount">
                                        </div>
                                        <div class="form-group">
                                            <label>Chi Nhánh - Phòng Giao Dịch</label>
                                            <input type="email" class="form-control" name="transactionAddress">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tỉnh/Thành Phố</label>
                                            <input type="email" class="form-control" name="transactionProvince">
                                        </div>
                                        <div class="form-group">
                                          <input type="submit" class="form-control" value="Lưu" id="exampleInputEmail1" style="background: #28a745; color: white;">
                                      </div>
                                      <div class="form-group">
                                        <button class="form-control" style="background: #c82333; color: white;" (click)="displayAddCustomerDialog()">Huỷ</button>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
</body>

</html>
