<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>DANH SÁCH KHÁCH HÀNG</h1>
                            <button type="button" class="btn btn-block btn-success btn-lg" style="width: auto;" (click)="openDialog()">THÊM KHÁCH HÀNG</button>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- search -->
                                <div class="card-header">
                                    <div class="row" style="float: right;">
                                        <div class="card" style="padding: 10px;
                          background: #28a745; color: white;">
                                            <div>
                                                <label>Search:<input id="Rsearch" type="search"
                                                    class="form-control form-control-sm" placeholder=""
                                                    aria-controls="example1"></label>
                                                <label>From<input id="RfromSearch" type="date"
                                                    class="form-control form-control-sm" placeholder=""
                                                    aria-controls="example1"></label>
                                                <label>To<input id="RtoSearch" type="date"
                                                    class="form-control form-control-sm" placeholder=""
                                                    aria-controls="example1"></label>
                                                <button id="RdelBtn" type="button" class="btn btn-danger">XÓA</button>
                                                <button type="button" class="btn btn-info">Tìm Kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- search -->
                                <div class="card-body">
                                    <app-customer-table></app-customer-table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
</body>

</html>