<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Mã Nhân Viên</th>
                <th>Tên Account</th>
                <th>Họ và Tên</th>
                <th>Ngày Sinh</th>
                <th>Số Điện Thoại</th>
                <th>Email</th>
                <th>Phòng Ban</th>
                <th>Chi Tiết</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employeeinfo of data | paginate: { id: 'listing_pagination' ,itemsPerPage: 3, currentPage: page, totalItems: totalRecords};let i = index">
                <td>{{employeeinfo.id}}</td>
                <td>{{employeeinfo.code}}</td>
                <td>{{employeeinfo.name}}</td>
                <td>{{employeeinfo.date_of_birth | date}}</td>
                <td>{{employeeinfo.phone}}</td>
                <td>{{employeeinfo.email}}</td>
                <td>{{employeeinfo.in_dept}}</td>
                <td>
                    <button (click)="EmployeeDetail(employeeinfo.id)" class="btn btn-info" style="height: 40px; width: 100px; margin: 10px; color: white;">Chi Tiết</button>
                </td>
                <td>
                    <button *ngIf="employeeinfo.code" class="btn btn-block btn-primary" disabled>Thêm Tài Khoản</button>
                    <button *ngIf="!employeeinfo.code" (click)="openDialog(employeeinfo)" class="btn btn-block btn-primary">Thêm Tài
            Khoản</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Mã Nhân Viên</th>
                <th>Tên Account</th>
                <th>Họ và Tên</th>
                <th>Ngày Sinh</th>
                <th>Số Điện Thoại</th>
                <th>Email</th>
                <th>Phòng Ban</th>
                <th>Chi Tiết</th>
                <th>Thao Tác</th>
            </tr>
        </tfoot>
    </table>
    <pagination-controls style="float: right;" id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>